<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>🌦️ Application Météo FORCE-N</h1>

  <app-search-bar (search)="searchCity($event)"></app-search-bar>

  @if (loading()) {
    <p>Chargement...</p>
  }

  @if (error()) {
    <p style="color:red">{{ error() }}</p>
  }

  @if (weather()) {
    <app-accueil-meteo [weather]="weather()"></app-accueil-meteo>
  }
</body>
</html>
